services:
  unleash:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:4242"
    networks:
      - unleash
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      - DATABASE_USERNAME=unleash
      - DATABASE_PASSWORD=unleash
      - DATABASE_NAME=unleash
      - DATABASE_HOST=postgres
      - DATABASE_SSL=false
      - INIT_ADMIN_API_TOKENS=*:*.unleash4all
      - GOOGLE_IAP_AUDIENCE=32555940559.apps.googleusercontent.com
      - GOOGLE_IAP_ISSUER=https://accounts.google.com

  postgres:
    image: "postgres:14"
    environment:
      - POSTGRES_USER=unleash
      - POSTGRES_PASSWORD=unleash
      - POSTGRES_DB=unleash
    ports:
      - "5432:5432"
    networks:
      - unleash
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U unleash"]
      interval: 5s
      timeout: 5s
      retries: 5
    #volumes:
    #  - ./.data:/var/lib/postgresql/data

networks:
  unleash:
    driver: bridge
